/* PRIMER NAV */

nav#menu-principal {
    display: block;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    color: #000;
    font-weight: bolder;
    line-height: 1;
    font-size: 26px;
    font-family: "Knockout", serif;
}

a:link, a:visited {
    color: #000;
    transition: 0.3s;
    text-decoration:none;
}

a:hover {
    color: red;
}

.menu-principal-listas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    list-style: none;
    text-decoration: none;
}

.menu-carta {
    padding: 0px 30px;
    margin-left: 10px;
    margin-top: -50px;
}

.menu-menu {
    padding: 0px 30px;
    margin-top: -50px;
}

.menu-icono {
    padding: 0px 20px;
    margin-top: -2px;
}

.menu-reservar {
    padding: 0px 30px;
    margin-top: -50px;
}

.menu-hacer-pedido {
    padding: 0px 30px;
    margin-top: -50px;
}

.menu-amigos {
    padding: 0px 30px;
    margin-top: -50px;
}

.logo-goiko {
    margin-top: -150px;
    height: 115px;
    cursor: pointer;
    list-style: none;
}

/* SEGUNDO NAV */

div#barra-reserva {
    background-color: #000;
    position: relative;
}

.contenedor-barrareserva {
    display: flex;
    margin-top: 155px;
    margin-left: 342px;
    align-items: center;
}

.reserva-ahora {
    display: block;
    padding: 4px;
    margin-top: 16px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #FFF;
    text-align: center;
}

.input-direccion {
    font-size: 15px;
    width: 22em;
    height: 2.3em;
    margin-right: 5px;
    margin-left: 14px;
}

.input-fecha {
    width: 12em;
    height: 2.8em;
    margin-right: 5px;
    margin-left: 5px;
}

.select-hora {
    width: 12em;
    height: 3.1em;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.select-personas {
    width: 12em;
    height: 3.1em;
    margin-right: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.buscar {
    flex-grow: 0;
    padding-top: 0px;
    margin-top: 0px;
    border: 0;
    color: #FFF;
    background-color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    cursor: pointer;
    padding: 2px 5px 0px;
}

h2 {
    display: none;
    line-height: 1;
}

/* SLIDER ANIMADO */

/* TERCER NAV */

nav#menu-info {
    display: block;
    background-color: #ececed;
}

nav#menu-info li {
    padding: 0px 20px;
    color: #000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.2px;
}

@font-face {
    font-family: Knockout;
    src: url("C:\Users\Quorr\Documents\GitHub\Goiko.github.io\fonts\knockout.ttf") format("opentype");
}